In [1]:
import pandas as pd

In [2]:
data = {'Category':['A','B','C','D','B','D','A','A']}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

  Category
0        A
1        B
2        C
3        D
4        B
5        D
6        A
7        A

In [5]:
one_hot_encoded = pd.get_dummies(df,columns=['Category'])
one_hot_encoded

   Category_A  Category_B  Category_C  Category_D
0        True       False       False       False
1       False        True       False       False
2       False       False        True       False
3       False       False       False        True
4       False        True       False       False
5       False       False       False        True
6        True       False       False       False
7        True       False       False       False

In [6]:
one_hot_encoded = pd.get_dummies(df, columns=['Category'],prefix='C')
one_hot_encoded

     C_A    C_B    C_C    C_D
0   True  False  False  False
1  False   True  False  False
2  False  False   True  False
3  False  False  False   True
4  False   True  False  False
5  False  False  False   True
6   True  False  False  False
7   True  False  False  False

In [9]:
one_hot_encoded = pd.get_dummies(df, columns=['Category'], prefix='Dummy',drop_first=True )
one_hot_encoded

   Dummy_B  Dummy_C  Dummy_D
0    False    False    False
1     True    False    False
2    False     True    False
3    False    False     True
4     True    False    False
5    False    False     True
6    False    False    False
7    False    False    False